// primary theme color of the styleguide.
$cowabunga:       #E87E04;

// secondary colors.
$black:           #222222;
$gray:            #CCCCCC;
$white:           #FFFFFF;

// utility colors.
$blue:            #3498DB;
$green:           #2ECC71;
$orange:          #F1C40F;
$red:             #E74C3C;
