{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-cond-assign": 0, // eslint:recommended
    "no-console": 2, // eslint:recommended
    "no-constant-condition": 2, // eslint:recommended
    "no-control-regex": 2, // eslint:recommended
    "no-debugger": 2, // eslint:recommended
    "no-dupe-args": 2, // eslint:recommended
    "no-dupe-keys": 2, // eslint:recommended
    "no-duplicate-case": 2, // eslint:recommended
    "no-empty-character-class": 2, // eslint:recommended
    "no-empty": [2, {
      "allowEmptyCatch": true
    }], // eslint:recommended
    "no-ex-assign": 2, // eslint:recommended
    "no-extra-boolean-cast": 2, // eslint:recommended
    "no-extra-semi": 2, // eslint:recommended
    "no-func-assign": 2, // eslint:recommended
    "no-inner-declarations": 2, // eslint:recommended
    "no-invalid-regexp": 2, // eslint:recommended
    "no-irregular-whitespace": 2, // eslint:recommended
    "no-obj-calls": 2, // eslint:recommended
    "no-regex-spaces": 2, // eslint:recommended
    "no-sparse-arrays": 2, // eslint:recommended
    "no-unexpected-multiline": 2, // eslint:recommended
    "no-unreachable": 2, // eslint:recommended
    "no-unsafe-finally": 2, // eslint:recommended
    "use-isnan": 2,
    "valid-jsdoc": [2, {
      "requireParamDescription": false,
      "requireReturnDescription": false,
      "requireReturn": false,
      "prefer": {"returns": "return"}
    }],
    "valid-typeof": 2,

    // Best Practices
    "eqeqeq": 0,
    "guard-for-in": 2,
    "no-alert": 0,
    "no-caller": 2,
    "no-case-declarations": 2, // eslint:recommended
    "no-empty-pattern": 2, // eslint:recommended
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-fallthrough": 2, // eslint:recommended
    "no-invalid-this": 2,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-new-wrappers": 2,
    "no-octal": 2, // eslint:recommended
    "no-redeclare": 2, // eslint:recommended
    "no-self-assign": 2, // eslint:recommended
    "no-throw-literal": 2, // eslint:recommended
    "no-unused-labels": 2, // eslint:recommended
    "no-with": 2,
    "no-delete-var": 2, // eslint:recommended
    "no-undef": 2, // eslint:recommended
    "no-unused-vars": [2, {"args": "none"}],
    // Stylistic Issues
    // ----------------------------------------------
    "array-bracket-spacing": [2, "never"],
    "brace-style": 2,
    "camelcase": [2, {"properties": "never"}],
    "comma-dangle": [2, "never"],
    "comma-spacing": 2,
    "comma-style": 2,
    "computed-property-spacing": 2,
    "eol-last": 2,
    "func-call-spacing": 2,
    "key-spacing": 2,
    "keyword-spacing": 0,
    "linebreak-style": 2,
    "new-cap": 2,
    "no-array-constructor": 2,
    "no-mixed-spaces-and-tabs": 2, // eslint:recommended
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-new-object": 2,
    "no-trailing-spaces": 2,
    "object-curly-spacing": 2,
    "one-var": [2, {
      "var": "never",
      "let": "never",
      "const": "never"
    }],
    "padded-blocks": [2, "never"],
    "quote-props": [2, "consistent"],
    "quotes": [2, "single", {"allowTemplateLiterals": true}],
    "require-jsdoc": [2, {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true
      }
    }],
    "semi-spacing": 2,
    "semi": 2,
    "space-before-blocks": 2,
    "space-before-function-paren": [2, "never"],
    "spaced-comment": [2, "always"],

    // ECMAScript 6
    // http://eslint.org/docs/rules/#ecmascript-6
    // ------------------------------------------
    "arrow-parens": [2, "as-needed"],
    "constructor-super": 2, // eslint:recommended
    "generator-star-spacing": [2, "after"],
    "no-const-assign": 0, // eslint:recommended
    "no-dupe-class-members": 0, // eslint:recommended
    "no-new-symbol": 2, // eslint:recommended
    "no-this-before-super": 2,  // eslint:recommended
    "no-var": 2,
    "prefer-rest-params": 2,
    "prefer-spread": 2,
    "prefer-const": 2,
    "prefer-arrow-callback": 2,
    "prefer-template": 2,
    "require-yield": 2, // eslint:recommended
    "rest-spread-spacing": 2,
    "yield-star-spacing": [2, "after"]
  }
}


