/*=========================================
12. Avatars - uifaces.com
=========================================== */

// Avatars
//
// You'll love this
//
// Markup:
// <img src="http://lorempixel.com/output/people-q-c-200-200-7.jpg" class="avatar-40" />
// <img src="http://lorempixel.com/output/people-q-c-200-200-7.jpg" class="avatar-48" />
// <img src="http://lorempixel.com/output/people-q-c-200-200-7.jpg" class="avatar-56" />
// <img src="http://lorempixel.com/output/people-q-c-200-200-7.jpg" class="avatar-64" />
// <img src="http://lorempixel.com/output/people-q-c-200-200-7.jpg" class="avatar-72" />
// <img src="http://lorempixel.com/output/people-q-c-200-200-7.jpg" class="avatar-80" />
//
// Styleguide Avatars
cite img,
img[class*='avatar-'] {
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

img[class*='avatar-'] {
  border-radius: 50%;
}

$avatar-sizes: 40, 48, 56, 64, 72, 80;

@each $size in $avatar-sizes {
  img.avatar-#{$size} {
    @include square(#{$size}px);
  }
}
