// Reasons
//
// Bla bla bla
//
// Markup:
// <ul class="flexblock reasons">
//   <li>
//     <h2>Why WebSlides? Work better, faster.</h2>
//     <p>Designers and marketers can now focus on the content. Simply <a href="/demos/" title="WebSlides Demos">choose a demo</a> and customize it in minutes. Be memorable! </p>
//   </li>
//   <li>
//     <h2> Good karma. Just the essentials and using lovely CSS.</h2>
//     <p>WebSlides is about telling the story, and sharing it in a beautiful way. Hypertext and clean code as narrative elements.</p>
//   </li>
// </ul>
//
// Demos:
// [Reasons](https://webslides.tv/demos/classes#slide=55)
//
// Styleguide Multipurpose blocks.Reasons
.flexblock.reasons {
  li {
    counter-increment: list;
    text-align: left;
    width: 100%;

    &:hover {
      transform: translateY(-.2rem);
    }

    &:after {
      bottom: -2.4rem;
      content: '';
      display: block;
      height: 1px;
      position: relative;
    }

    &:before {
      content: counter(list)'.';
      font-size: 6.4rem;
      line-height: 1;
    }

    @media (min-width: 768px) {
      padding-left: 8.8rem;
      /* You need two digits? (1-10)*/
      /*padding-left: 12rem; */

      &:before {
        left: 2.4rem;
        position: absolute;
      }
    }
  }
}
