// Specs
//
// Bla bla bla
//
// Markup:
// <ul class="flexblock specs">
//     <li>
//       <div>
//         <h2>Ultra-Fast WiFi</h2>
//         Simple and secure file sharing.
//       </div>
//     </li>
//     <li>
//       <div>
//         <h2>All day battery life</h2>
//         Your battery worries may be over.
//       </div>
//     </li>
//     <li>
//       <div>
//         <h2>Lifetime Warranty </h2>
//         We'll fix it or if we can't, we'll replace it.
//       </div>
//     </li>
//     </ul>
//
// Styleguide Contents.Specs

.specs li {
  text-align: left;
  width: 100%;

  &:after {
    bottom: -2.4rem;
    content: '';
    display: block;
    height: 1px;
    position: relative;
  }

  &:hover {
    transform: translateX(.2rem);
  }

  span,
  svg {
    display: block;
    font-size: 6.4rem;
    line-height: 1;
    margin: 0;
  }

  img {
    width: 6.4rem;
  }

  span {
    font-weight: 300;

    sup {
      font-size: 3rem;
    }
  }

  @media (min-width: 1024px) {
    span,
    svg,
    img {
      float: left;
      margin-right: 2.4rem;
    }
  }
}
