/*===========================================
6.9 Block Activity <ul class="activity">
CV / News
============================================= */
//  Activity
//
// Bla bla bla
//
// Markup:
// <ul class="flexblock activity">
//   <li>
//     <a href="#" title="UX Designer at ACME">
//       <div>
//         <p class="year">
//           2016
//         </p>
//         <p class="title">
//           UX Designer at ACME
//         </p>
//         <p class="summary">
//           This is a job description for the UX Designer role at ACME. Be concise. Content like a tweet: 2-3 lines recommended.
//         </p>
//       </div>
//     </a>
//   </li>
//   <li>
//     <a href="#" title="14 world famous buildings to inspire you">
//       <p class="year">
//         2 mins ago
//       </p>
//       <p class="title">
//         14 world famous buildings to inspire you
//       </p>
//       <p class="summary">
//         From the Colosseum to the Chrysler building, get a dose of inspiration from 14 of the world's most famous buildings.
//       </p>
//     </a>
//   </li>
//   <li>
//     <a href="#" title="Co-Founder of GAMMA">
//       <p class="year">
//         2013
//       </p>
//       <p class="title">
//         Co-Founder of GAMMA
//       </p>
//       <p class="summary">
//         The culture within an organization is an essential part for success. This is a job description. Be concise. 2-3 lines recommended.
//       </p>
//     </a>
//   </li>
// </ul>
//
// Styleguide Flexblock.Activity
.flexblock.activity {
  flex-direction: column;

  li {
    flex: 1;
    position: relative;
    width: auto;
  }

  p {
    margin-bottom: 0;
    vertical-align: top;
  }

  img {
    display: block;
  }

  .year,
  .title {
    display: inline;
    font-weight: 600;
  }

  .summary {
    width: 100%;
  }

  .title {
    margin-left: 1rem;
  }


  @media (min-width: 768px) {
    p {
      float: left;
    }

    .year {
      width: 15%;
    }

    .title {
      margin-left: 4%;
      margin-right: 4%;
      width: 27%;
    }

    .summary {
      width: 50%;
    }
  }
}
