.flexblock.reasons {
  li {
    counter-increment: list;
    text-align: left;
    width: 100%;

    li:hover {
      transform: translateY(-.2rem);
    }

    li:after {
      bottom: -2.4rem;
      content: '';
      display: block;
      height: 1px;
      position: relative;
    }

    li:before {
      content: counter(list)'.';
      font-size: 6.4rem;
      line-height: 1;
    }
  }

  @media (min-width: 768px) {
    li { padding-left: 8.8rem;
    /* You need two digits? (1-10)*/
    /*padding-left: 12rem; */
}
    li:before {
      left: 2.4rem;
      position: absolute;
    }
  }
}
