//  Steps
//
// Bla bla bla
//
// Markup:
// <ul class="flexblock steps">
//   <li>
//     <h2>01. Passion</h2>
//     <p>When you're really passionate about your job, you can change the world.</p>
//   </li>
//   <li>
//     <div class="process step-2"></div>
//     <h2>02. Purpose</h2>
//     <p>Why does this business exist? How are you different? Why matters?</p>
//   </li>
//   <li>
//     <div class="process step-3"></div>
//     <h2>03. Principles</h2>
//     <p>Leadership through usefulness, openness, empathy, and good taste.</p>
//   </li>
//   <li>
//     <div class="process step-4"></div>
//     <h2>04. Process</h2>
//     <ul>
//       <li>Useful</li>
//       <li>Easy</li>
//       <li>Fast</li>
//       <li>Beautiful</li>
//     </ul>
//   </li>
// </ul>
//
// Styleguide Contents.Steps
.steps li {
  width: 100%;

  img,
  span {
    display: block;
    margin: 0 auto .8rem;
  }

  span {
    font-size: 6.4rem;
  }

  @media (min-width: 768px) {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .steps li {
    width: 25%;
  }

  .process {
    border-left-style: solid;
    border-left-width: 15px;
    height: 0;
    left: 0;
    position: absolute;
    top: 60px;
    width: 0;
  }
}
