/*=================================================
6.4 Block Numbers - <ul class="flexblock metrics">
=================================================== */

// Metrics
//
// Bla bla bla
//
// Markup:
// <ul class="flexblock metrics  {{modifier_class}}">
//   <li> Founded
//     <span>2016</span>
//   </li>
//   <li>
//     <span>24M</span>
//     Subscribers
//   </li>
//   <li>
//     Revenue:
//     <span>$16M</span>
//   </li>
//   <li>
//     Monthly Growth
//     <span>64%</span>
//   </li>
// </ul>
//
// .border - with border
//
// Styleguide Flexblock.Metrics
.metrics li {
  text-align: center;
  width: 100%;

  @media (min-width: 568px) {
    width: 50%;
  }

  @media (min-width: 1024px) {
    width: 25%;
  }
}

.metrics li strong {
  display: block;
}

.metrics li span,
.metrics li svg {
  display: block;
  font-size: 6.4rem;
  line-height: 7.2rem;
  margin: 0 auto;
}

.card-50 .metrics li {
  width: 50%;
}
