/*=========================================
14. Forms
=========================================== */

form {
  text-align: left;

  & + p,
  input + p,
  textarea + p {
    margin-top: .8rem;
  }
}


input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='password'] {
  appearance: none;
  border-radius: 0;
}

input,
button,
select {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  height: 4.8rem;
  margin: 0;
  padding: .7rem;
  position: relative;
  width: 100%;

}

input[type='radio'],
input[type='checkbox'] {
  height: auto;
  padding: 4px;
  width: auto;
}

button[type='submit'],
textarea {
  width: 100%;
}

textarea {
  padding: .7rem;
}

button {
  cursor: pointer;
  text-align: center;
  width: auto;
}

.button {
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 4.8rem;
  min-width: 16rem;
  padding: 0 1.6rem;
  text-align: center;

  svg {
    font-size: 2.4rem;
  }
}

.button.radius,
input.radius {
  border-radius: 2.4rem;
}

button,
input[type='submit'] {
  font-weight: 400;
  letter-spacing: .1rem;
  text-transform: uppercase;
}


.plans .button {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

// Try
//
// Highlight important links
//
// Markup:
// <p class="text-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas urna nisi, mollis sit amet venenatis nec, pulvinar id mi.</p>
// <p><a href="#" class="try">Important link</a></p>
//
// Demos:
// [Pay what you want...](https://webslides.tv/demos/components#slide=120)
// [Demos - Github](https://webslides.tv/demos/components#slide=53)
//
// Styleguide Forms.Try
.try {
  display: block;
  font-size: 1.6rem;
  margin-top: 1.6rem;
}

fieldset {
  padding: 2.4rem;
}

legend {
  border: 0;
  font-weight: 400;
  letter-spacing: .1rem;
  padding: 1.6rem 2.4rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  border-width: 1px;
}

a.button:hover,
button[type='submit']:hover,
input[type='submit']:hover {
  transform: scale(1.01);
}

:disabled,
button:disabled:hover {
  cursor: not-allowed;
}

// Search
//
// WebSlides provides a easy way for search forms creating. Connect it to your search engine and help your users to find information in your site. Longforms are part of a whole website, a search form allows to find more relevant information in your site.
//
// Markup:
// <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas urna nisi, mollis sit amet venenatis nec, pulvinar id mi.</p>
// <form action="/" class="user" method="post">
//   <input name="location" tabindex="1" placeholder="Type here..." required="" type="search">
//   <button type="submit" tabindex="2" title="Search">Search ›</button>
// </form>
//
// Demos:
// [Search form - Components](https://webslides.tv/demos/components#slide=92)
//
// Styleguide Forms.Search



// Login
//
// Creating a login form is a simple task, add every field you need: username, email, forget password?, buttons, ...
//
// Markup:
// <form action="/" method="post">
//   <fieldset>
//     <legend>Welcome back</legend>
//     <p><label>Username or Email</label>
//       <input tabindex="1" name="email" placeholder="your@email.com" required="" type="text">
//     </p>
//     <p><label>Password <span class="alignright"><a href="#" title="Forgot password?">Forgot?</a></span></label>
//       <input tabindex="2" name="password" placeholder="6 characters minimum" required="" type="password">
//     </p>
//     <p>
//       <button type="submit" tabindex="3" title="Login">Login ›</button>
//     </p>
//   </fieldset>
// </form>
//
// Demos:
// [Microsoft login](https://webslides.tv/demos/components#slide=93)
//
// Styleguide Forms.Login
.user {
  input {
    margin-bottom: 0;

    &[type='email'],
    &[type='search'],
    &[type='text'] {
      width: 100%;

      @media (min-width: 500px) {
        float: left;
        width: 70%;
      }
    }
  }

  button,
  input[type='submit'] {
    left: 0;
    width: 100%;

    @media (min-width: 500px) {
      cursor: pointer;
      width: 30%;
    }
  }
}
