.embed {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.6%;
  position: relative;

  iframe,
  object,
  embed,
  video {
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .fullscreen > & {
    bottom: 0;
    height: auto;
    left: 0;
    padding-bottom: 0;
    position: fixed;
    right: 0;
    top: 0;

    & > iframe,
    & > object,
    & > embed,
    & > video {
      @media (min-aspect-ratio: 16 / 9) {
        height: 300%;
        top: -100%;
      }

      @media (max-aspect-ratio: 16 / 9) {
        left: -100%;
        width: 300%;
      }

      @supports (object-fit: cover) {
        height: 100%;
        left: 0;
        object-fit: cover;
        top: 0;
        width: 100%;
      }
    }
  }
}
