// Call to action
//
// TODO: needs an explanation
//
// Markup:
// <div class="cta">
//   <div class="number">
//     <p><span><sup>$</sup>40</span></p>
//   </div>
//   <div class="benefit">
//     <h2>Watch TV shows anytime, anywhere</h2>
//     <p>Lorem ipsum</p>
//   </div>
// </div>
//
// Demos:
// [Font demo](https://webslides.tv/demos/classes#slide=58)
// [An offer](https://webslides.tv/demos/components#slide=78)
//
// Styleguide Landings and portfolio.CTA
.cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.number,
.cta .benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  padding: .8rem;
}

.number {
  text-align: center;
}

.cta .benefit {
  max-width: 100%;
  text-align: center;
}

.number span {
  display: block;
  font-size: 8rem;
  line-height: 8rem;
}

.number span sup {
  font-size: 4rem;
}

.cta p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .number,
  .cta .benefit {
    max-width: 50%;
    padding: 4.8rem;
  }

  .cta .benefit {
    text-align: left;
  }

  .number span {
    font-size: 16rem;
    line-height: 16rem;

    sup {
      font-size: 6rem;
      vertical-align: middle;
    }
  }
}

// Covers
//
// TODO: needs a explanation
//
// Markup:
// <div class="cta-cover">
//   <h1><strong>HTML Presentations</strong> Made Easy</h1>
//   <p class="alignright">
//     <a class="button" href="https://webslides.tv/webslides-latest.zip" title="Download WebSlides">
//       WebSlides
//     </a>
//     <span class="try"><a href="/demos/" title="WebSlides Demos">Demos</a> · <a href="https://github.com/webslides/webslides" title="Github">Github</a></span>
//   </p>
// </div>
//
// Demos:
// [Demo](https://webslides.tv/demos/components#slide=53)
//
// Styleguide Landings and portfolio.cta-cover
.cta-cover {
  display: table;
  width: 100%;

  h1 strong {
    font-weight: 400;
  }

  @media (min-width: 1024px) {
    h1 {
      float: left;
      max-width: 80%;
    }

    h1 strong {
      display: block;
    }

    .button {
      margin-top: 1.2rem;
    }

    .try {
      text-align: center;
    }
  }

  @media (max-width: 1023px) {
    .alignright {
      float: none;
    }
  }
}
