/*---------------------------------------------------------------------------------

	App: WebSlides
	Version: 1.3.0
	Date: 2017-04-20
	Description: A simple and versatile framework for building HTML presentations, landings, and portfolios.
	Authors: @jlantunez, @belelros, and @luissacristan
	Author URI: http://twitter.com/webslides
	License: The MIT License (MIT)
	License URI: https://opensource.org/licenses/MIT

-----------------------------------------------------------------------------------

	0. CSS Reset & Normalize
	1. Base
		1.1 Wrap/Container
		1.2 Animations
		1.3 Responsive Media (videos, iframe, screenshots...)
		1.4 Basic Grid (2,3,4 columns)
	2. Typography & Lists
		2.1 Headings with background
		2.2 Classes: .text-
		2.3 San Francisco Font (Apple)
	3. Header & Footer
		3.1 Logo
	4. Navigation
		4.1 Navbars
	5. SLIDES (vertically and horizontally centered)
		5.1 Mini container & Alignment
		5.2 Counter / Navigation Slides
		5.3 Background Images/Video
	6. Magic blocks = .flexblock (Flexible blocks with auto-fill and equal height).
		6.1 .flexblock.features
		6.2 .flexblock.clients
		6.3 .flexblock.steps
		6.4 .flexblock.metrics
		6.5 .flexblock.specs
		6.6 .flexblock.reasons
		6.7 .flexblock.gallery
		6.8 .flexblock.plans
		6.9. flexblock.activity
	7. Promos/Offers (pricing, tagline, CTA...)
	8. Work / Resume / CV
	9. Table of contents
	10. Cards
	11. Quotes
	12. Avatars
	13. Tables
	14. Forms
  15. Longform Elements
	16. Safari Bug (flex-wrap)
	17. Print

----------------------------------------------------------------------------------- */


/*=== 4.1. Navbars === */


/*============================================
5. SLIDES (Full Screen)
Vertically and horizontally centered
============================================== */

/* Fade transition to all slides.
* = All HTML elements will have those styles.*/


/* === 5.2 Counter / Navigation Slides  === */


/*=== 5.3 Slides - Background Images/Videos === */

.background,
[class*="background-"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.background,
[class*="background-"]{
  background-repeat: no-repeat;
}
.background {
  background-position: center;
  background-size: cover
}
.background-top {
  background-position: top;
  background-size: cover;
}
.background-bottom {
  background-position: bottom;
  background-size: cover;
}


/*fullscreen video
  <video class="background-video">
*/

.background-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/*=== BG Positions === */

.background-center {
  background-position: center;
}

.background-center-top {
  background-position: center top;
}
.background-right-top {
  background-position: right top;
}
.background-left-top {
  background-position: left top;
}
.background-center-bottom,
.background-left-bottom,
.background-right-bottom,
.background-left,.background-right {
  background-position: center bottom;
}

@media (min-width:1024px) {
  .background-left-bottom {
    background-position: left bottom;
  }
  .background-right-bottom {
    background-position: right bottom;
  }
  .background-right {
    background-position: right;
  }
  .background-left {
    background-position: left;
  }
}

/*=== bg image/video overlay === */
/*-- [class*="bg-"] .background.dark, [class*="bg-"] .embed.dark...  -- */

[class*="bg-"] .light,
[class*="bg-"] .light {
  filter: alpha(opacity=8000);
  opacity: 0.80;
  filter: alpha(opacity=8);
}

[class*="bg-"] .dark,
[class*="bg-"] .dark {
  filter: alpha(opacity=2000);
  opacity: 0.20;
  filter: alpha(opacity=2);
}
[class*="bg-"] .background-video.dark {
  filter: alpha(opacity=5000);
  opacity: 0.50;
  filter: alpha(opacity=5);
}
@media (max-width:1023px) {
  [class*="background-"] {
    opacity: 0.20;
    -webkit-animation: fadeIn ease-in 0.20;
    animation: fadeIn ease-in 0.20;
  }
  .background-video {
    opacity: 0.80;
  }
}
/*=== Animated Background Image === */

.background.anim {
  height: 200%;
  background-size: 100%;
  background-repeat: repeat;
  background-position: center top;
  -webkit-animation: anim 80s linear infinite;
  animation: anim 80s linear infinite;

}
/*=== Background with a frame === */
/*<span class="background" style="background-image:url('image.jpg')"></span>
<span class="background frame"></span>*/

[class*="background"].frame {
  margin: 2.4rem;
}

/*===============================================================
6. Magic blocks with flexbox (Auto-fill & Equal Height)
Blocks Links li>a = .flexblock.blink (.blink required)
================================================================= */

.flexblock {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
}

.flexblock:before {
  content: "";
  display: table;
}

.flexblock:after {
  clear: both;
}

.flexblock li,
.flexblock.blink li>a {
  position: relative;
  display: -webkit-flex;
  display: flex;
  /*making paragraphs and linked block*/
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 2.4rem;

}

.flexblock li {
  flex: auto;
  text-align: left;
  /*float: left;*/
  width: 100%;/* more control */
  -webkit-transition: .3s;
  transition: .3s;
}
.flexblock li:hover{
  -webkit-transform: translateY(-.2rem);
  transform: translateY(-.2rem);
}
.flexblock.aligncenter li {text-align: center;}

.flexblock.vertical-align li {
  justify-content: center;
}

.flexblock.blink li {
  padding: 0;
}

@media (min-width:600px) {
  .flexblock li {
    width: 50%;
  }
}

@media (min-width:1024px) {
  .flexblock li {
    width: 25%;
  }
}

h1 + .flexblock,
h2 + .flexblock,
h3 + .flexblock,
div + ul, div + ol{
  margin-top: 3.2rem;
}

.flexblock li h2,
.flexblock li h3,footer .column h2,footer .column h3 {
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.2rem;
}

/*====================================================================
6.1 Features <ul class="flexblock features">
====================================================================== */

.flexblock.features>li {
  width: 100%;
  border-radius: .4rem;
  margin-bottom: 4.8rem;
}


@media (min-width:768px) {
  .flexblock.features {
    margin-right: -2%;
    margin-left: -2%;
  }
  .flexblock.features>li {
    margin-right: 2%;
    margin-left: 2%;
    width: 29%;
  }
  .size-50 .flexblock.features>li{
    width: 46%;
  }
  .column .flexblock.features>li{width: 100%;}

  footer .flexblock.features>li {margin-bottom: 0;
  }
}

.features li h2 {
  text-transform: uppercase;
}

.features li span {
  font-weight: 300;
}

.features li p {
  margin: 0;
}

.features li p em {
  display: block;
}
.features li span,.features li svg {
  font-size: 6.4rem;
  line-height: 1;
  display: block;
  margin: 0;
}
.features li img {width: 6.4rem;}

.features li span sup {
  font-size: 3rem;
}

@media (min-width:1200px) {
  .features li span,
  .features li svg,.features li img {
    float: left;
    margin-right: .8rem;
  }
}

/*=====================================================================
6.2 Clients Logos <ul class="flexblock clients">
======================================================================= */

.flexblock.clients.blink li>a,.flexblock.clients li {
  padding: 0;
}

.flexblock.clients li figcaption {
  padding: 0 2.4rem 2.4rem;
}
.flexblock.clients.border li figcaption {
  padding-top: 2.4rem;
}

.clients.blink li>a,
.clients li {
  justify-content: inherit;
}

.clients li img,.clients li svg {
  display: block;
  padding: 2.4rem;
}

.clients.border li img,.clients.border li svg {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.clients li:hover  {
  z-index: 1;
}
/*==================================================
6.3 flexblock.steps <ul class="flexblock steps">
About, Philosophy...
=================================================== */

.steps li {
  width: 100%;
}

.steps li img,
.steps li span {
  margin: 0 auto .8rem;
  display: block;
}

.steps li span {
  font-size: 6.4rem;
}

@media (min-width: 768px) {
  .steps li {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .steps li {
    width: 25%;
    /*width: 33.3333%;*/
  }
  .process {
    position: absolute;
    top: 60px;
    left: 0;
    width: 0;
    height: 0;
    border-left-style: solid;
    border-left-width: 15px;
  }
}


/*=================================================
6.4 Block Numbers - <ul class="flexblock metrics">
=================================================== */

.metrics li {
  text-align: center;
  width: 100%;
}

.metrics li strong {
  display: block;
}

.metrics li span,.metrics li svg {
  font-size: 6.4rem;
  line-height: 7.2rem;
  display: block;
  margin: 0 auto;
}

@media (min-width: 568px) {
  .metrics li {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .metrics li {
    width: 25%;
  }
}
.card-50 .metrics li {
  width: 50%;
}

/*=====================================================
6.5 Specs/Items: <ul class="flexblock specs">
======================================================= */

.specs li {
  width: 100%;
  text-align: left;
}

.specs li:after {
  content: "";
  height: 1px;
  display: block;
  position: relative;
  bottom: -2.4rem;
}

.specs li:hover {
  -webkit-transform: translateX(.2rem);
  transform: translateX(.2rem);
}

.specs li span,.specs li svg {
  font-size: 6.4rem;
  line-height: 1;
  display: block;
  margin: 0;
}
.specs li img {width: 6.4rem;}

.specs li span  {
  font-weight: 300;

}
.specs li span sup {
  font-size: 3rem;

}

@media (min-width:1024px) {
  .specs li span,
  .specs li svg,.specs li img {
    float: left;
    margin-right: 2.4rem;
  }
}
/*=================================================
6.6 Reasons/Why/Numbers (counter-increment)
<ul class="flexblock reasons">
=================================================== */

.flexblock.reasons li {
  text-align: left;
  width: 100%;
  counter-increment: list;
}
.reasons li:hover{
  -webkit-transform: translateY(-.2rem);
  transform: translateY(-.2rem);
}
.reasons li:before {
  content: counter(list)'.';
  font-size: 6.4rem;
  line-height: 1;
}
.reasons li:after {
  position: relative;
  bottom: -2.4rem;
  content: "";
  height: 1px;
  display: block;
}
@media (min-width: 768px) {
  .reasons li {
    padding-left: 8.8rem;
    /* You need two digits? (1-10)*/
    /*padding-left: 12rem; */
  }
  .reasons li:before {
    position: absolute;
    left: 2.4rem;
  }
}

/*=================================================
6.7 Gallery - <ul class="flexblock gallery">
Block Thumbnails li+.overlay+image
img size recommended:800x600px
=================================================== */

.flexblock.gallery li {
  margin-bottom: 4.8rem;
}
.flexblock.gallery li:nth-child(n+4) {
  -webkit-flex:inherit;
  flex:inherit;
}
.flexblock.gallery li,
.flexblock.gallery.blink li>a {
  padding: 0;
}
.gallery h2 {text-transform: uppercase;}

.gallery h2 + p,.gallery h3 + p {
  margin-top: .8rem;
}
.gallery p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 0;
}

.flexblock.gallery li figcaption {
  position: relative;
  padding: 1.6rem;
}
/*Arrow */

.gallery li figcaption:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  top: .4rem;
  left: 20%;
  transform-origin: 0 0;
  transform: rotate(135deg);
  -webkit-transition: .1s;
  transition: .1s;
}
.gallery li:hover figcaption:before {
  top:.3rem;
}
.aligncenter .gallery li figcaption:before {
  margin-left: 0;
  left: 55%;
}

.gallery li footer {
  position: relative;
  padding:1.2rem 0 0;
  margin-top: .8rem;
}
@media (min-width:600px) {
  .flexblock.gallery {
    margin-right: -2%;
    margin-left: -2%;
  }
  .flexblock.gallery li {
    margin-right: 2%;
    margin-left: 2%;
    width: 46%;
  }
}

@media (min-width:1024px) {
  .flexblock.gallery li {
    width: 21%;
  }
  .grid.sm .flexblock.gallery li,.grid.ms .flexblock.gallery li {
    width: 29%;
  }
  .grid.sms .flexblock.gallery li {
    width: 46%;
  }
}

.gallery li img {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
/* Overlay */

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s linear;
}
li .overlay {
  align-items: center;
}
li .overlay h2 {
  text-transform: uppercase;
  margin: 0;
  padding: 0 2.4rem;
  letter-spacing: .2rem;
  width: 100%;
  text-align: center;
}

.overlay p,
.overlay time {
  margin-bottom: 0;
}

li:hover .overlay {
  cursor: pointer;
}

/*===============================================
6.8 Plans / Pricing <ul class="flexblock plans">
================================================= */

.flexblock.plans>li {
  text-align: center;
  border-radius: 3px;
  z-index: 1;
  margin-bottom: 4.8rem;
}

.plans li,
.plans.blink li>a {
  padding: 0;
}

.plans.blink li>a div,
.plans li div {
  padding-bottom: 3.2rem;
}

.plans li p,
.plans li h2 {
  padding: .8rem 3.2rem;
}

.plans li h2 {
  float: left;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 400;
}

.plans .price {
  font-size: 4.8rem;
  line-height: 6.2rem;
  padding: 2.4rem;
  font-weight: 400;
  display: block;
  clear: both;
}

.price sup {
  font-size: 1.8rem;
  margin-right: .4rem;
}

.plans li ul {
  margin-bottom: 2.4rem;
}


/* Specs  ----------- */

.flexblock.plans li ul li {
  width: 100%;
  padding: .8rem 3.2rem;
  text-align: left;
  display: block;
}

@media (min-width:1024px) {
  .flexblock.plans {
    margin-right: -2%;
    margin-left: -2%;
  }
  .flexblock.plans>li {
    margin-right: 2%;
    margin-left: 2%;
    width: 29%;
  }
  .plans>li:hover,
  .plans>li:nth-child(2) {
    position: relative;
    z-index: 2;
    transform: scale(1.08);
  }
  .plans:hover li:nth-child(2):not(:hover) {
    position: relative;
    z-index: 1;
    transform: scale(1);
  }
}


/*===========================================
6.9 Block Activity <ul class="activity">
CV / News
============================================= */

.flexblock.activity {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.activity li {
  position: relative;
  -webkit-flex: 1;
  flex: 1;
  width: auto;
}

.activity p {
  vertical-align: top;
  margin-bottom: 0;
}

.activity img {
  display: block;
}

.activity .year,
.activity .title {
  display: inline;
  font-weight: 600;
}

.activity .summary {
  width: 100%;
}

.activity .title {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .activity p {
    float: left;
  }
  .activity .year {
    width: 15%;
  }
  .activity .title {
    width: 27%;
    margin-right: 4%;
    margin-left: 4%;
  }
  .activity .summary {
    width: 50%;
  }
}

/*=========================================
.flexblock sublist
=========================================== */

.flexblock li li,
.flexblock.blink li li {
  padding: 0;
  width: 100%;
}

/*.flexblock li li:before {
  position: absolute;
  top: 3px;
  left: 0;
  content: "*";
  font-weight: 400;
}
*/

/*=== Mini container .flexblock li === */

[class*="content-"] .flexblock li p {
  font-size: 1.8rem;
  line-height: 3.2rem;
}
.content-right .flexblock.features li,
.content-left .flexblock.features li {
  width: 46%;
}

/*=============================================
7. Promos/Offers (pricing, tagline, CTA...)
=============================================== */

.cta {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.number,
.cta .benefit {
  padding: .8rem;
  max-width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

.number {
  text-align: center;
}

.cta .benefit {
  max-width: 100%;
  text-align: center;
}

.number span {
  font-size: 8rem;
  line-height: 8rem;
  display: block
}

.number span sup {
  font-size: 4rem;
}

.cta p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .number,
  .cta .benefit {
    padding: 4.8rem;
    max-width: 50%;
  }
  .cta .benefit {
    text-align: left;
  }
  .number span {
    font-size: 16rem;
    line-height: 16rem;
  }
  .number span sup {
    font-size: 6rem;
    vertical-align: middle;
  }
}


/* --- Header CTA --- */

.cta-cover {
  display: table;
  width: 100%;
}

.cta-cover h1 strong {
  font-weight: 400;
}

@media (min-width: 1024px) {
  .cta-cover h1 {
    max-width: 80%;
    float: left;
  }
  .cta-cover h1 strong {
    display: block;
  }
  .cta-cover .button {
    margin-top: 1.2rem;
  }
  .cta-cover .try {
    text-align: center;
  }
}

@media (max-width: 1023px) {
  .cta-cover .alignright {
    float: none;
  }
}


/*=========================================
8. Work/Resumé/CV <ul class="work">
=========================================== */

h1 + .work,
h2 + .work,
h3 + .work,
p + .work {
  margin-top: 4.8rem;
}

.work {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  clear: both;
  text-align: left;
}

.work li {
  position: relative;
  -webkit-flex: 1;
  flex: 1;
  list-style: none;
  margin: 0;

}

.work-label {
  float: left;
  width: 100%;
  padding: 0 0 2.4rem;
  font-weight: 600;
}

.work p {
  margin-bottom: 0;
}

.work li a {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  padding: 2.4rem 0;
}

.work-title {
  display: block;
  width: 75%;
  padding-right: 1.2rem;
}

.work li a p,
.work li:first-child a:hover p:first-child {
  -webkit-transition: .3s;
  transition: .3s;
}

.work li p {
  padding-left: 1.2rem;
}

.work li.work-label p {
  padding-left: 0;
}

.work li a:hover p:first-child {
  padding-left: 1.6rem;
}

.work li p:last-child {
  position: absolute;
  top: 2.4rem;
  right: 1.2rem;
}

.work li.work-label p:last-child {
  top: 0;
  right: 0;
}

@media (min-width: 768px) {
  .work-label p,
  .work li p {
    width: 25%;
    margin-right: 2%;
    float: left;
  }
  .work li.work-label p:last-child,
  .work li p:last-child {
    position: relative;
    float: right;
    top: auto;
    right: auto;
    margin-right: 0;
    text-align: right;
    padding-right: 1.2rem;
  }
  .work li p.work-date {
    width: 120px;
  }
}

@media (max-width: 768px) {
  .work-client,
  .work-label .work-services {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
}

/* Mobile: video full width */
.text-pull.embed {
  padding-bottom: 60.6%; /*without black borders; */
  margin-right: -2.4rem;
  margin-left: -2.4rem;
}
