.kss-style {
  color: #444;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px; }
  .kss-style a {
    color: #0645ad;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s; }
    .kss-style a:visited {
      color: #0645ad; }
    .kss-style a:hover, .kss-style a:focus {
      color: #2272f7; }
    .kss-style a:active {
      color: #faa700; }
    .kss-style a:hover, .kss-style a:active {
      outline: 0; }
  .kss-style p {
    margin: 12px 0 24px 0; }
  .kss-style h1, .kss-style h2, .kss-style h3, .kss-style h4, .kss-style h5, .kss-style h6 {
    margin: 24px 0 0 0;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    color: #111;
    line-height: 1.15em; }
  .kss-style h4, .kss-style h5, .kss-style h6 {
    font-weight: bold; }
  .kss-style h1 {
    font-size: 40px; }
  .kss-style h2 {
    font-size: 36px; }
  .kss-style h3 {
    font-size: 34px; }
  .kss-style h4 {
    font-size: 32px; }
  .kss-style h5 {
    font-size: 30px; }
  .kss-style h6 {
    font-size: 28px; }
  .kss-style blockquote {
    color: #666;
    margin: 0;
    padding-left: 24px;
    border-left: 0.5em #d9d9d9 solid; }
  .kss-style hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #e6e6e6;
    margin: 24px 0;
    padding: 0; }
  .kss-style pre, .kss-style code, .kss-style kbd, .kss-style samp {
    font-family: Menlo, "Ubuntu Mono", "Lucida Console", "Courier New", Courier, monospace;
    color: #2b2b2b;
    font-size: 1em; }
  .kss-style pre {
    white-space: pre;
    overflow: scroll; }
  .kss-style ins {
    color: #111;
    background: #ff9;
    text-decoration: none; }
  .kss-style mark {
    color: #111;
    background: #ff0;
    font-weight: bold; }
  .kss-style sub, .kss-style sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .kss-style sup {
    top: -0.5em; }
  .kss-style sub {
    bottom: -0.25em; }
  .kss-style ul, .kss-style ol {
    margin: 24px 0;
    padding: 0 0 0 24px; }
  .kss-style li p:last-child {
    margin: 0; }
  .kss-style dd {
    margin: 0 0 0 24px; }
  .kss-style img {
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle; }
  .kss-style table {
    border-collapse: collapse;
    border-spacing: 0; }
  .kss-style td {
    vertical-align: top; }
  @media print {
    .kss-style a, .kss-style a:visited {
      text-decoration: underline; }
    .kss-style hr {
      height: 1px;
      border: 0;
      border-bottom: 1px solid black; }
    .kss-style a[href]:after {
      content: " (" attr(href) ")"; }
    .kss-style a[href^="javascript:"]:after, .kss-style a[href^="#"]:after {
      content: ""; }
    .kss-style abbr[title]:after {
      content: " (" attr(title) ")"; }
    .kss-style pre, .kss-style blockquote {
      border: 1px solid #999;
      padding-right: 1em;
      page-break-inside: avoid; }
    .kss-style tr, .kss-style img {
      page-break-inside: avoid; }
    .kss-style img {
      max-width: 100% !important; }
    .kss-style p, .kss-style h2, .kss-style h3 {
      orphans: 3;
      widows: 3; }
    .kss-style h2, .kss-style h3 {
      page-break-after: avoid; } }

#kss-node {
  margin: 0;
  padding: 20px;
  background: #fff; }
  #kss-node.kss-fullscreen-mode .kss-sidebar,
  #kss-node.kss-fullscreen-mode .kss-section:not(.is-fullscreen),
  #kss-node.kss-fullscreen-mode .kss-github {
    display: none; }
  @media screen and (min-width: 769px) {
    #kss-node {
      padding: 0; }
      #kss-node .kss-main,
      #kss-node .kss-sidebar {
        float: left;
        margin-right: -100%;
        box-sizing: border-box; } }
  #kss-node .kss-main {
    width: 100%;
    margin: 0 auto; }
    @media screen and (min-width: 769px) {
      #kss-node .kss-main {
        width: 80%;
        margin-left: 20%;
        padding: 0 20px 0 30px; } }
  #kss-node .kss-sidebar {
    border-bottom: 1px solid #ddd; }
    @media screen and (min-width: 769px) {
      #kss-node .kss-sidebar {
        position: fixed;
        width: 20%;
        height: 100%;
        overflow: auto;
        padding: 0 10px 0 20px;
        border-bottom: 0;
        background-image: url(noise-low.png), -ms-radial-gradient(#fff, #eee);
        background-image: url(noise-low.png), -o-radial-gradient(#fff, #eee);
        background-image: url(noise-low.png), -webkit-radial-gradient(#fff, #eee);
        background-image: url(noise-low.png), radial-gradient(#fff, #eee);
        box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.7); } }

#kss-node .kss-doc-title {
  margin: 0; }
  @media screen and (min-width: 769px) {
    #kss-node .kss-doc-title {
      font-size: 1.5em; } }

#kss-node .kss-header,
#kss-node .kss-nav {
  position: relative; }
  @media screen and (min-width: 769px) {
    #kss-node .kss-header,
    #kss-node .kss-nav {
      margin-top: 2em; } }
  #kss-node .kss-header ul, #kss-node .kss-header ol, #kss-node .kss-header li,
  #kss-node .kss-nav ul,
  #kss-node .kss-nav ol,
  #kss-node .kss-nav li {
    display: block;
    float: none; }
  #kss-node .kss-header li,
  #kss-node .kss-nav li {
    margin-left: 3.2rem; }

#kss-node .kss-nav__menu {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0;
  list-style-type: none; }

#kss-node .kss-nav__menu-item {
  display: inline-block;
  padding-right: 24px; }
  @media screen and (min-width: 769px) {
    #kss-node .kss-nav__menu-item {
      display: list-item;
      padding-right: 0; } }

#kss-node .kss-nav__menu-link {
  position: relative;
  display: inline-block; }
  @media screen and (min-width: 769px) {
    #kss-node .kss-nav__menu-link:before {
      content: ' ';
      position: absolute;
      left: -20px;
      width: 0;
      height: 100%;
      background-color: transparent; } }
  #kss-node .kss-nav__menu-link.is-in-viewport:before {
    background-color: #000;
    width: 5px;
    transition: background-color .4s, width .6s; }

#kss-node .kss-nav__menu-child {
  display: none; }
  @media screen and (min-width: 769px) {
    #kss-node .kss-nav__menu-child {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      #kss-node .kss-nav__menu-child li:first-child {
        margin-top: 10px;
        border-top: 1px solid #ccc;
        padding: 10px 0 0; }
      #kss-node .kss-nav__menu-child li:last-child {
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
        padding: 0 0 10px; } }

#kss-node .kss-nav__ref {
  color: #333;
  font-weight: bold; }
  #kss-node .kss-nav__ref:after {
    content: ' '; }

#kss-node .kss-nav__ref-child {
  font-weight: normal; }

#kss-node {
  /* SPAN elements with the classes below are added by prettyprint. */
  /* plain text */
  /* string content */
  /* a keyword */
  /* a comment */
  /* a type name */
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  /* a markup tag name */
  /* a markup attribute name */
  /* a markup attribute value */
  /* a declaration; a variable name */
  /* a function name */
  /* Use higher contrast and text-weight for printable form. */
  /* Specify class=linenums on a pre to get line numbering */ }
  #kss-node .kss-section {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem; }
    #kss-node .kss-section.is-fullscreen {
      position: fixed !important;
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      width: 100% !important;
      height: 100% !important;
      margin: 0 !important;
      min-width: 0 !important;
      max-width: none !important;
      min-height: 0 !important;
      max-height: none !important;
      box-sizing: border-box !important;
      object-fit: contain !important;
      transform: none !important;
      overflow: auto !important;
      padding: 20px; }
  #kss-node .kss-title {
    margin-bottom: 0; }
  #kss-node .is-fullscreen .kss-title {
    margin-top: 0; }
  #kss-node .kss-title__ref {
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: #666; }
    #kss-node .kss-title__ref:before {
      content: 'Section '; }
  #kss-node .kss-title__permalink {
    display: block;
    color: #000;
    text-decoration: none; }
    #kss-node .kss-title__permalink:hover, #kss-node .kss-title__permalink:focus, #kss-node .kss-title__permalink:active {
      color: #0645ad; }
      @media screen and (min-width: 607px) {
        #kss-node .kss-title__permalink:hover .kss-title__permalink-hash, #kss-node .kss-title__permalink:focus .kss-title__permalink-hash, #kss-node .kss-title__permalink:active .kss-title__permalink-hash {
          display: inline; } }
  #kss-node .kss-title__permalink-hash {
    display: none;
    color: #ccc; }
  #kss-node .kss-toolbar {
    margin: 6px 0 24px;
    display: inline-block;
    border: 1px solid #eee;
    background-color: #f9f9f9;
    border-right-color: #e0e0e0;
    border-bottom-color: #e0e0e0;
    line-height: 1;
    padding: 3px; }
    #kss-node .kss-toolbar a {
      box-sizing: content-box;
      display: inline-block;
      width: 16px;
      height: 16px;
      padding: 3px;
      vertical-align: top;
      position: relative;
      overflow: visible; }
      #kss-node .kss-toolbar a + a {
        margin-left: 6px; }
      #kss-node .kss-toolbar a .kss-toolbar__icon-fill {
        fill: #ccc; }
      #kss-node .kss-toolbar a svg.on {
        display: none; }
      #kss-node .kss-toolbar a:focus, #kss-node .kss-toolbar a:hover {
        border-color: #000; }
        #kss-node .kss-toolbar a:focus .kss-toolbar__icon-fill, #kss-node .kss-toolbar a:hover .kss-toolbar__icon-fill {
          fill: #000; }
  #kss-node .kss-toolbar__tooltip {
    position: absolute;
    z-index: 1;
    display: inline-block;
    bottom: 100%;
    left: -10px;
    margin-bottom: 5px;
    border: solid 1px #666;
    padding: 8px 10px 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    color: #000;
    background: #fff;
    cursor: help;
    opacity: 0;
    transition: opacity 0.25s;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal; }
    #kss-node .kss-toolbar__tooltip:before, #kss-node .kss-toolbar__tooltip:after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 15px;
      width: 0;
      height: 0;
      border-width: 7px 5px 0;
      border-color: #666 transparent;
      border-style: solid; }
    #kss-node .kss-toolbar__tooltip:after {
      bottom: -6px;
      border-top-color: #fff; }
  #kss-node a:focus > .kss-toolbar__tooltip,
  #kss-node a:hover > .kss-toolbar__tooltip {
    opacity: 1;
    clip: auto;
    height: auto;
    width: auto;
    overflow: visible; }
  #kss-node .is-fullscreen .kss-toolbar a[data-kss-fullscreen],
  #kss-node.kss-guides-mode .kss-toolbar a[data-kss-guides],
  #kss-node.kss-markup-mode .kss-toolbar a[data-kss-markup] {
    border-color: #666;
    background-color: #666; }
    #kss-node .is-fullscreen .kss-toolbar a[data-kss-fullscreen] .kss-toolbar__icon-fill,
    #kss-node.kss-guides-mode .kss-toolbar a[data-kss-guides] .kss-toolbar__icon-fill,
    #kss-node.kss-markup-mode .kss-toolbar a[data-kss-markup] .kss-toolbar__icon-fill {
      fill: #fff; }
    #kss-node .is-fullscreen .kss-toolbar a[data-kss-fullscreen] svg.on,
    #kss-node.kss-guides-mode .kss-toolbar a[data-kss-guides] svg.on,
    #kss-node.kss-markup-mode .kss-toolbar a[data-kss-markup] svg.on {
      display: block; }
    #kss-node .is-fullscreen .kss-toolbar a[data-kss-fullscreen] svg.off,
    #kss-node.kss-guides-mode .kss-toolbar a[data-kss-guides] svg.off,
    #kss-node.kss-markup-mode .kss-toolbar a[data-kss-markup] svg.off {
      display: none; }
  #kss-node .kss-parameters {
    display: table;
    list-style-type: none;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0; }
  #kss-node .kss-parameters__title {
    font-weight: bold; }
  #kss-node .kss-parameters__item {
    display: table-row; }
  #kss-node .kss-parameters__name {
    display: table-cell;
    padding-right: 20px;
    white-space: nowrap; }
  #kss-node .kss-parameters__description {
    display: table-cell; }
  #kss-node .kss-parameters__default-value code {
    white-space: nowrap; }
  #kss-node .kss-modifier__wrapper {
    border: 1px solid #ccc;
    padding: 0 10px 10px; }
  #kss-node .is-fullscreen .kss-modifier__wrapper {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 0;
    padding-right: 0;
    border: none; }
  #kss-node .kss-modifier__heading {
    margin: 0 -10px 10px -10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    font-weight: bold; }
  #kss-node .is-fullscreen .kss-modifier__heading {
    margin: 0 20px 10px;
    border: 1px solid #ccc; }
  #kss-node .kss-modifier__default-name {
    font-weight: bold;
    margin-bottom: 12px; }
  #kss-node .is-fullscreen .kss-modifier__default-name {
    margin-left: 20px;
    margin-right: 20px; }
  #kss-node .kss-modifier__name {
    float: left;
    padding-right: 10px;
    font-weight: bold; }
  #kss-node .is-fullscreen .kss-modifier__name {
    margin-left: 20px; }
  #kss-node .kss-modifier__description {
    margin-bottom: 12px; }
  #kss-node .is-fullscreen .kss-modifier__description {
    margin-right: 20px; }
  #kss-node .kss-modifier__example {
    clear: left;
    border: 2px dashed transparent;
    position: relative;
    z-index: 0;
    margin: -2px -2px 22px; }
    #kss-node .kss-modifier__example:last-child {
      margin-bottom: 0; }
  #kss-node.kss-guides-mode .kss-modifier__example:before, #kss-node.kss-guides-mode .kss-modifier__example:after,
  #kss-node.kss-guides-mode .kss-modifier__example-footer:before,
  #kss-node.kss-guides-mode .kss-modifier__example-footer:after {
    z-index: -1;
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border: 2px solid #000; }
  #kss-node.kss-guides-mode .kss-modifier__example {
    border-color: #000; }
    #kss-node.kss-guides-mode .kss-modifier__example:before {
      top: -5px;
      left: -5px;
      border-top: 0;
      border-left: 0; }
    #kss-node.kss-guides-mode .kss-modifier__example:after {
      top: -5px;
      right: -5px;
      border-top: 0;
      border-right: 0; }
  #kss-node.kss-guides-mode.kss-fullscreen-mode .kss-modifier__example:before {
    left: auto;
    right: 0; }
  #kss-node.kss-guides-mode.kss-fullscreen-mode .kss-modifier__example:after {
    right: auto;
    left: 0; }
  #kss-node .kss-modifier__example-footer {
    clear: both; }
  #kss-node.kss-guides-mode .kss-modifier__example-footer:before {
    bottom: -5px;
    left: -5px;
    border-bottom: 0;
    border-left: 0; }
  #kss-node.kss-guides-mode .kss-modifier__example-footer:after {
    bottom: -5px;
    right: -5px;
    border-right: 0;
    border-bottom: 0; }
  #kss-node.kss-guides-mode.kss-fullscreen-mode .kss-modifier__example-footer:before {
    left: auto;
    right: 0; }
  #kss-node.kss-guides-mode.kss-fullscreen-mode .kss-modifier__example-footer:after {
    right: auto;
    left: 0; }
  #kss-node .kss-markup {
    margin: 24px 0;
    border: 1px solid #ccc; }
    #kss-node .kss-markup[open] summary {
      border-bottom: 1px solid #ccc;
      margin-bottom: 3px; }
    #kss-node .kss-markup summary {
      padding-left: 10px; }
    #kss-node .kss-markup pre {
      margin: 0; }
  #kss-node .kss-source {
    font-size: 80%; }
  #kss-node .kss-github {
    display: none; }
    @media screen and (min-width: 501px) {
      #kss-node .kss-github {
        display: block;
        position: absolute;
        top: 0;
        right: 0; } }
    #kss-node .kss-github img {
      border: 0; }
  #kss-node .pln {
    color: #000; }
  #kss-node .str {
    color: #080; }
  #kss-node .kwd {
    color: #008; }
  #kss-node .com {
    color: #800; }
  #kss-node .typ {
    color: #606; }
  #kss-node .lit {
    color: #066; }
  #kss-node .pun, #kss-node .opn, #kss-node .clo {
    color: #660; }
  #kss-node .tag {
    color: #008; }
  #kss-node .atn {
    color: #606; }
  #kss-node .atv {
    color: #080; }
  #kss-node .dec, #kss-node .var {
    color: #606; }
  #kss-node .fun {
    color: red; }
  @media print, projection {
    #kss-node .str {
      color: #060; }
    #kss-node .kwd {
      color: #006;
      font-weight: bold; }
    #kss-node .com {
      color: #600;
      font-style: italic; }
    #kss-node .typ {
      color: #404;
      font-weight: bold; }
    #kss-node .lit {
      color: #044; }
    #kss-node .pun, #kss-node .opn, #kss-node .clo {
      color: #440; }
    #kss-node .tag {
      color: #006;
      font-weight: bold; }
    #kss-node .atn {
      color: #404; }
    #kss-node .atv {
      color: #060; } }
  #kss-node ol.linenums {
    margin: 0;
    padding: 0 0 3px 0;
    list-style-type: none;
    /* Alternate shading for lines */ }
    #kss-node ol.linenums li {
      min-height: 24px;
      border-bottom: 1px solid #eee;
      padding: 0 10px;
      background: #fff; }
      #kss-node ol.linenums li:first-child {
        padding-top: 3px; }
    #kss-node ol.linenums li.L0,
    #kss-node ol.linenums li.L2,
    #kss-node ol.linenums li.L4,
    #kss-node ol.linenums li.L6,
    #kss-node ol.linenums li.L8 {
      background: #fcfcfc; }

#kssref-layout-radius .radius {
  padding: 2.4rem; }

#kssref-base-backgrounds span[class*=bg] {
  display: inline-block;
  padding: 1.2rem;
  margin-left: -4px; }

#kssref-base-backgrounds-transparent div[class*=bg] {
  padding: 2rem;
  margin: 0; }
  #kssref-base-backgrounds-transparent div[class*=bg] > div[class*=bg] {
    padding: 6rem;
    margin: 3rem; }

#kssref-base-backgrounds-gradient div[class*=bg] {
  padding: 4rem;
  margin: 3rem; }

#kssref-slide-background-anim .slide {
  clip: rect(0px, 200px, 200px, 0px);
  position: absolute; }

#kssref-slide-background-anim .kss-modifier__example {
  width: 200px;
  height: 200px;
  margin: 0 auto; }
