// sass-lint:disable no-vendor-prefixes

/*=========================================
1. Base --> Baseline: 8px = .8rem
=========================================== */

/* -- Disable elastic scrolling/bounce:
webslides.js will add .ws-ready automatically. Don't worry :) -- */

.ws-ready {
  &,
  body {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  &.ws-ready-zoom {
    overflow: visible;

    body {
      overflow: auto;
    }
  }
}

#webslides {
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-misspelled-properties
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* -- Prototype faster - Vertical rhythm  -- */
.baseline {
  background: url('../images/baseline.png') left top .8rem/.8rem;
}

li li {
  margin-left: 1.6rem;
}

a,
a:active,
a:focus,
a:visited,
input:focus,
textarea:focus,
button {
  text-decoration: none;
  transition: all .3s ease-out;
}

p a:active {
  position: relative;
  top: 2px;
}

nav a[rel='external'] em,
.hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

// Shadows
//
// Drops a shadow under the layer. The layer containing the shadow has to have a solid background
//
// Markup:
// <div class="bg-white shadow">
//   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus dignissim libero ac egestas. Vivamus pretium, mauris non commodo dapibus, purus elit gravida justo, at hendrerit arcu turpis in libero. Curabitur lacinia diam est, id eleifend turpis ornare quis. Sed a metus id ligula bibendum scelerisque vel at velit. Duis congue mattis nibh at pharetra. Cras hendrerit, enim ac tristique finibus, mauris dui placerat nulla, a porttitor sapien metus eu arcu. Ut pharetra justo et felis gravida vulputate. Nulla facilisi.
// </div>
//
// Styleguide Typography.Shadow
.shadow {
  position: relative;

  &:before,
  &:after {
    bottom: 1.6rem;
    content: '';
    max-width: 300px;
    position: absolute;
    top: 80%;
    width: 50%;
    z-index: -1;
  }

  &:after {
    right: 2.4rem;
    transform: rotate(3deg);
  }

  &:before {
    left: 2.4rem;
    transform: rotate(-3deg);
  }
}

/*=== 1.1 WRAP/CONTAINER === */
.wrap,
header nav,
footer nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: relative;
  width: 100%;
  z-index: 2;

  @media (min-width: 1024px) {
    width: 90%;
  }
}

.frame,
.shadow {
  padding: 2.4rem;
}

.radius {
  border-radius: .4rem;
}

// Align content
//
// Markup:
// <div>
//   <img src="../../../static/images/iphone.png" class="size-50 {{modifier_class}}" />
//   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus dignissim libero ac egestas. Vivamus pretium, mauris non commodo dapibus, purus elit gravida justo, at hendrerit arcu turpis in libero. Curabitur lacinia diam est, id eleifend turpis ornare quis. Sed a metus id ligula bibendum scelerisque vel at velit. Duis congue mattis nibh at pharetra. Cras hendrerit, enim ac tristique finibus, mauris dui placerat nulla, a porttitor sapien metus eu arcu. Ut pharetra justo et felis gravida vulputate. Nulla facilisi.</p>
// </div>
//
// .alignright - Align right.
// .alignleft - Align left.
// .aligncenter - Align center.
//
// Demos:
// [Example right](https://webslides.tv/demos/classes#slide=7)
// [Example left](https://webslides.tv/demos/classes#slide=6)
// [Example right](https://webslides.tv/demos/classes#slide=8)
// [In the header](https://webslides.tv/demos/classes#slide=5)
// [In the footer](https://webslides.tv/demos/components#slide=58)
//
//
// Styleguide Layout.Alignment
.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img.aligncenter,
figure.aligncenter {
  display: block;
  margin-bottom: .8rem;
  margin-top: .8rem;
}

img.alignleft,
figure.alignleft,
img.alignright,
figure.alignright,
img.aligncenter,
figure.aligncenter {
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;
}

img.alignright,
svg.alignright,
figure.alignright {
  margin: .8rem 0 .8rem 2.4rem;
}

img.alignleft,
svg.alignleft,
figure.alignleft {
  margin: .8rem 2.4rem .8rem 0;
}

// Sizes
//
// Markup:
// <img src="../../../static/images/iphone.png" class="{{modifier_class}}" />
//
// .size-80 - resize to 80%.
// .size-70 - resize to 70%.
// .size-60 - resize to 60%.
// .size-50 - resize to 50%.
// .size-40 - resize to 40%.
// .size-30 - resize to 30%.
// .size-20 - resize to 20%.
//
// Demos:
// [50%](https://webslides.tv/demos/components#slide=25)
// [30%](https://webslides.tv/demos/components#slide=26)
//
// Styleguide Layout.Sizes
$sizes: 80, 70, 60, 50, 40, 30, 20;

/*=== div.size-60, img.size-50, h1.size-40, p.size-30... === */
@media (min-width: 1024px) {
  @each $size in $sizes {
    .size-#{$size} {
      width: $size * 1%;
    }
  }
}

pre,
code {
  font-family: 'Cousine', monospace;
}

pre {
  font-size: 1.6rem;
  line-height: 2.4rem;
  overflow: auto;
  padding: 2.4rem;
  text-align: left;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;

  & + p {
    margin-top: 3.2rem;
  }

  code {
    padding: 0;
  }
}

code {
  padding: .4rem;
}
